<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Apex Logo" src="https://media2.giphy.com/media/fUN9Jal2W57RqQXL2s/giphy0.gif">
</div>

<p>
  Start editing to see some magic happen :)
</p>

<app-mon-premier></app-mon-premier>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <p>Mis à jour : {{ lastUpdate | async |uppercase| date: short  }}</p>
      <ul class="list-group">
        <app-appareil-component *ngFor="let appareil of appareils; let i = index"
          [appareilName]="appareil.name"
          [appareilStatus]="appareil.status"
          [index]="i">
          </app-appareil-component>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout Recharger</button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onEteindre()">Tout Vider</button> 
    </div>
  </div>
</div>
