<div class="col-xs-12">
  <h2>Mes appareils</h2>
        <p>Mis à jour : {{ lastUpdate | async |uppercase| date: short  }}</p>
        <ul class="list-group">
          <app-appareil-component *ngFor="let appareil of appareils; let i = index"
            [index]="i"
            [appareilName]="appareil.name"
            [appareilStatus]="appareil.status"
            [id]="appareil.id">
            </app-appareil-component>
        </ul>
        <button class="btn btn-success"
                (click)="onAllumer()">Tout Recharger</button>
        <button class="btn btn-danger"         
                (click)="onEteindre()">Tout Vider</button> 
        <button class="btn btn-primary"
                (click)="onSave()">Enregistrer les appareils</button>
        <button class="btn btn-primary"
                (click)="onFetch()">Récupérer les appareils</button>        
        

</div>